:root {
  --bg-url: url(../assets/bg-light-desktop.jpg);
  --bg-url-dark: url(../assets/bg-desktop-dark.jpg);
  --text-color: #ffff;
  --color-button: rgb(169, 119, 130);
  --bg-rosa-dark: url(../assets/bg-rosa-dark.jpg);
  --color-card: #1e212c;
  --stroke-color: rgba(255, 255, 255, 0.5);
  --border-top: rgb(169, 119, 132);
  --bg-my: url(../assets/cabelo-3.jpg);
}

* {
  margin: 0px;
  padding: 0px;
  outline: currentcolor none 0px;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", Verdana, Arial, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: var(--bg-url) no-repeat top center/cover;
  font-weight: 400;
  
  font-size: 1.125rem;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

header img {
  width: 150px;
  height: 150px;
}

.section-header {
  height: 100vh;
}

.section-header .title {
  text-align: center;
  margin-top: 25px;
}

.section-header .title h1 {
  font-size: 3rem;
  line-height: 3.3rem;
  letter-spacing: -0.05em;
  font-weight: 700;

  text-align: center;
  margin-bottom: 0.5rem;

  color: var(--color-button);
}

.section-header .title .text-gradient {
  background: rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(169, 119, 132) -0.03%, rgb(64, 203, 246) 99.92%)
    repeat scroll 0% 0% padding-box text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  font-size: 2.5rem;
}
.section-header .title h2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.6;
  margin-bottom: 32px;
}

.section-header .title p {
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 32px;

  opacity: 0.6;
}

.section-header .button {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.section-header .button a {
  background: rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(169, 119, 132) -0.03%, rgb(64, 203, 246) 99.92%)
    repeat scroll 0% 0%;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-radius: 48px;
  border: 0px none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.125rem;
  padding: 16px 28px;
  text-decoration: none;
  transition: opacity 0.2s ease-in 0s;
}

.section-header .button:hover {
  opacity: 0.8;
}

.section-main {
  background: var(--bg-url) no-repeat top center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
  transition: background 0.4s ease;
  height: 100vh;

  border-top: 2px solid var(--border-top);
}

.slider-container {
  width: 100%;
  height: 100%;
  max-width: 600px;
  max-height: 600px;
  display: flex;
  transform-style: preserve-3d;
  justify-content: center;
  align-items: center;
}

.section-main .cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

.section-main .cards .card {
  position: absolute;
  width: 60%;
  height: 100%;
  left: 0;
  right: 0;
  margin: auto;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.section-main .slider-container input[type="radio"] {
  display: none;
}

.section-main .cards .card img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.section-content {
  background: var(--bg-rosa-dark) no-repeat top center/cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding: 56px;

  border-top: 2px solid var(--border-top);
}

.section-content .item {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  text-align: center;
  max-width: 280px;
}

.section-content .item strong {
  color: var(--text-color);
  font-weight: 700;
  font-size: 3rem;
}

.section-content .item span {
  font-size: 1rem;
  opacity: 0.5;
  display: block;
  margin-top: 20px;

  color: var(--stroke-color);
}

#item-1:checked ~ .cards #song-3,
#item-2:checked ~ .cards #song-1,
#item-3:checked ~ .cards #song-2 {
  transform: translateX(-40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-2,
#item-2:checked ~ .cards #song-3,
#item-3:checked ~ .cards #song-1 {
  transform: translateX(40%) scale(0.8);
  opacity: 0.4;
  z-index: 0;
}

#item-1:checked ~ .cards #song-1,
#item-2:checked ~ .cards #song-2,
#item-3:checked ~ .cards #song-3 {
  transform: translateX(0) scale(1);
  opacity: 1;
  z-index: 1;
}

#item-1:checked ~ .cards #song-1 img,
#item-2:checked ~ .cards #song-2 img,
#item-3:checked ~ .cards #song-3 img {
  box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
}

.persona {
  height: 100vh;
  background: rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(169, 119, 132) -0.03%, rgb(205, 184, 219) 99.92%)
    repeat scroll 0% 0%;url("../assets/cabelo-3.png") no-repeat scroll
    right center;
    background: var(--bg-my) no-repeat top center/cover;
  background-position-x: right;
  background-position-y: top;
  

  border-top: 2px solid var(--border-top);
}

.persona .is-my {
  margin: 40px;
}

.persona .is-my .text {
  width: 550px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  -moz-box-pack: justify;

  overflow-x: hidden;
  /* margin: 50px auto 0 auto; */
  /* padding: 25px; */
  /* flex-direction: column; */
}

.persona .is-my h2 {
  color: rgb(169, 119, 132);
  background: rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(169, 119, 132) -0.03%, rgb(64, 203, 246) 99.92%)
    repeat scroll 0% 0% padding-box text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;

  font-size: 3rem;
  line-height: 3.3rem;
  letter-spacing: -0.05em;
  font-weight: 700;
  /* margin: 0 40px; */
}

.persona .is-my p {
  line-height: 150%;
  letter-spacing: -0.05em;
  text-align: left;
  font-weight: 400;
  color: rgb(248, 248, 250);
  font-size: 1.125rem;
  margin-top: 2rem;
  color: var(--text-color);
}

.persona .is-my .social {
  display: flex;

  flex-direction: column;
  align-self: flex-end;
  margin-left: 48px;
}

.persona .is-my .social .icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.persona .is-my .social .icon img {
  width: 30px;
  border-radius: 10px;
  margin-right: 1rem;
  text-align: center;
}
.persona .is-my .social a {
  background: rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(169, 119, 132) -0.03%, rgb(64, 203, 246) 99.92%)
    repeat scroll 0% 0%;
  border-radius: 4px;
  padding: 8px 16px;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: rgb(9, 16, 19);
  font-size: 0.875rem;
  opacity: 0.8;
  transition: all 0.2s ease-in 0s;
}

.persona .is-my .social a:hover {
  opacity: 1;
}

.detail-summary {
  background: var(--bg-url-dark) no-repeat top center/cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;

  border-top: 2px solid var(--border-top);
  
}

.detail-summary details {
  
  width: 60%;
  max-width: 600px;
  
}


.detail-summary details summary {
  background:  rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(169, 119, 132) -0.03%, rgb(64, 203, 246) 99.92%)
    repeat scroll 0% 0%;
  padding: 2%;
  border-bottom: 2px solid #282828;
}


