:root {
  --bg-url: url(../assets/bg-light-desktop.jpg);
  --bg-url-dark: url(../assets/bg-desktop-dark.jpg);
  --text-color: #ffff;
  --color-button: rgb(169, 119, 130);
  --bg-rosa-dark: url(../assets/bg-rosa-dark.jpg);
  --color-card: #1e212c;
  --stroke-color: rgba(255, 255, 255, 0.5);
}

* {
  margin: 0px;
  padding: 0px;
  outline: currentcolor none 0px;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", Verdana, Arial, sans-serif;
}

body {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

header img {
  width: 150px;
  height: 150px;
}

.section-header {
  height: 100vh;
}

.section-header .title {
  text-align: center;
  margin-top: 25px;
}

.section-header .title h1 {
  font-size: 3rem;
  line-height: 3.3rem;
  letter-spacing: -0.05em;
  font-weight: 700;

  text-align: center;
  margin-bottom: 0.5rem;

  color: var(--color-button);
}

.section-header .title span {
  background: rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(169, 119, 132) -0.03%, rgb(64, 203, 246) 99.92%)
    repeat scroll 0% 0% padding-box text;
  -webkit-text-fill-color: transparent;
  box-decoration-break: clone;
  font-size: 2.5rem;
}
.section-header .title h2 {
  font-size: 1.125rem;
  font-weight: normal;
  margin-top: 8px;
  opacity: 0.6;
  margin-bottom: 32px;
}

.section-header .title p {
  font-size: 0.8rem;
  font-weight: normal;
  margin-bottom: 32px;

  opacity: 0.6;
}

.section-header .button {
  display: flex;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: center;
  justify-content: center;
}

.section-header .button a {
  background: rgba(0, 0, 0, 0)
    linear-gradient(90deg, rgb(169, 119, 132) -0.03%, rgb(64, 203, 246) 99.92%)
    repeat scroll 0% 0%;
  display: flex;
  -moz-box-align: center;
  align-items: center;
  border-radius: 48px;
  border: 0px none;
  color: var(--text-color);
  font-weight: 600;
  font-size: 1.125rem;
  padding: 16px 28px;
  text-decoration: none;
  transition: opacity 0.2s ease-in 0s;
}

.section-header .button:hover {
  opacity: 0.8;
}

.section-main {
  background: var(--bg-url) no-repeat top center/cover;
  height: 100vh;
}

.section-content {
  background: var(--bg-rosa-dark) no-repeat top center/cover;
  height: 100vh;

  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  -moz-box-pack: justify;
  justify-content: space-between;
  padding: 56px;
}

.section-content .item {
  display: flex;
  flex-direction: column;
  -moz-box-align: center;
  align-items: center;
  text-align: center;
  max-width: 280px;
}

.section-content .item strong {
  color: var(--text-color);
  font-weight: 700;
  font-size: 3rem;
}

.section-content .item span {
  font-size: 1rem;
  opacity: 0.5;
  display: block;
  margin-top: 20px;

  color: var(--stroke-color);
}
